@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
   --radius-sm: calc(var(--radius) - 4px);
   --radius-md: calc(var(--radius) - 2px);
   --radius-lg: var(--radius);
   --radius-xl: calc(var(--radius) + 4px);
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --color-card: var(--card);
   --color-card-foreground: var(--card-foreground);
   --color-popover: var(--popover);
   --color-popover-foreground: var(--popover-foreground);
   --color-primary: var(--primary);
   --color-primary-foreground: var(--primary-foreground);
   --color-secondary: var(--secondary);
   --color-secondary-foreground: var(--secondary-foreground);
   --color-muted: var(--muted);
   --color-muted-foreground: var(--muted-foreground);
   --color-accent: var(--accent);
   --color-accent-foreground: var(--accent-foreground);
   --color-destructive: var(--destructive);
   --color-border: var(--border);
   --color-input: var(--input);
   --color-ring: var(--ring);
   --color-chart-1: var(--chart-1);
   --color-chart-2: var(--chart-2);
   --color-chart-3: var(--chart-3);
   --color-chart-4: var(--chart-4);
   --color-chart-5: var(--chart-5);
   --color-sidebar: var(--sidebar);
   --color-sidebar-foreground: var(--sidebar-foreground);
   --color-sidebar-primary: var(--sidebar-primary);
   --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
   --color-sidebar-accent: var(--sidebar-accent);
   --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
   --color-sidebar-border: var(--sidebar-border);
   --color-sidebar-ring: var(--sidebar-ring);
   --font-sans: Plus Jakarta Sans, sans-serif;
   --font-mono: Roboto Mono, monospace;
   --font-serif: Lora, serif;
   --radius: 1.25rem;
   --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
   --tracking-tight: calc(var(--tracking-normal) - 0.025em);
   --tracking-wide: calc(var(--tracking-normal) + 0.025em);
   --tracking-wider: calc(var(--tracking-normal) + 0.05em);
   --tracking-widest: calc(var(--tracking-normal) + 0.1em);
   --tracking-normal: var(--tracking-normal);
   --shadow-2xl: var(--shadow-2xl);
   --shadow-xl: var(--shadow-xl);
   --shadow-lg: var(--shadow-lg);
   --shadow-md: var(--shadow-md);
   --shadow: var(--shadow);
   --shadow-sm: var(--shadow-sm);
   --shadow-xs: var(--shadow-xs);
   --shadow-2xs: var(--shadow-2xs);
   --spacing: var(--spacing);
   --letter-spacing: var(--letter-spacing);
   --shadow-offset-y: var(--shadow-offset-y);
   --shadow-offset-x: var(--shadow-offset-x);
   --shadow-spread: var(--shadow-spread);
   --shadow-blur: var(--shadow-blur);
   --shadow-opacity: var(--shadow-opacity);
   --color-shadow-color: var(--shadow-color);
   --color-destructive-foreground: var(--destructive-foreground);
}

:root {
   --radius: 1.25rem;
   --background: oklch(0.9251 0.0042 157.1728);
   --foreground: oklch(0.2785 0.0478 356.4614);
   --card: oklch(0.9694 0.0011 197.1386);
   --card-foreground: oklch(0.2785 0.0478 356.4614);
   --popover: oklch(0.9694 0.0011 197.1386);
   --popover-foreground: oklch(0.2785 0.0478 356.4614);
   --primary: oklch(0.6799 0.1754 21.7423);
   --primary-foreground: oklch(1 0 0);
   --secondary: oklch(0.8714 0.0068 160.0541);
   --secondary-foreground: oklch(0.4415 0.0357 351.826);
   --muted: oklch(0.9251 0.0042 157.1728);
   --muted-foreground: oklch(0.5501 0.0284 356.0307);
   --accent: oklch(0.9619 0.0186 100.1245);
   --accent-foreground: oklch(0.3702 0.04 354.4265);
   --destructive: oklch(0.8348 0.2502 142.9227);
   --border: oklch(0.8714 0.0068 160.0541);
   --input: oklch(0.8714 0.0068 160.0541);
   --ring: oklch(0.6799 0.1754 21.7423);
   --chart-1: oklch(0.6799 0.1754 21.7423);
   --chart-2: oklch(0.6321 0.1875 27.228);
   --chart-3: oklch(0.5727 0.173 28.3675);
   --chart-4: oklch(0.4922 0.1441 27.3557);
   --chart-5: oklch(0.4265 0.1115 25.1101);
   --sidebar: oklch(0.8714 0.0068 160.0541);
   --sidebar-foreground: oklch(0.2785 0.0478 356.4614);
   --sidebar-primary: oklch(0.6799 0.1754 21.7423);
   --sidebar-primary-foreground: oklch(1 0 0);
   --sidebar-accent: oklch(0.9619 0.0186 100.1245);
   --sidebar-accent-foreground: oklch(0.3702 0.04 354.4265);
   --sidebar-border: oklch(0.8714 0.0068 160.0541);
   --sidebar-ring: oklch(0.6799 0.1754 21.7423);
   --sidebar-scrollbar: oklch(0.2785 0.0478 356.4614 / 0.3);
   --destructive-foreground: oklch(1 0 0);
   --font-sans: Plus Jakarta Sans, sans-serif;
   --font-serif: Lora, serif;
   --font-mono: Roboto Mono, monospace;
   --shadow-color: #9d9595;
   --shadow-opacity: 0.18;
   --shadow-blur: 10px;
   --shadow-spread: 4px;
   --shadow-offset-x: 2px;
   --shadow-offset-y: 2px;
   --letter-spacing: 0em;
   --spacing: 0.25rem;
   --shadow-2xs: 2px 2px 10px 4px hsl(0 3.9216% 60% / 0.09);
   --shadow-xs: 2px 2px 10px 4px hsl(0 3.9216% 60% / 0.09);
   --shadow-sm:
      2px 2px 10px 4px hsl(0 3.9216% 60% / 0.18),
      2px 1px 2px 3px hsl(0 3.9216% 60% / 0.18);
   --shadow:
      2px 2px 10px 4px hsl(0 3.9216% 60% / 0.18),
      2px 1px 2px 3px hsl(0 3.9216% 60% / 0.18);
   --shadow-md:
      2px 2px 10px 4px hsl(0 3.9216% 60% / 0.18),
      2px 2px 4px 3px hsl(0 3.9216% 60% / 0.18);
   --shadow-lg:
      2px 2px 10px 4px hsl(0 3.9216% 60% / 0.18),
      2px 4px 6px 3px hsl(0 3.9216% 60% / 0.18);
   --shadow-xl:
      2px 2px 10px 4px hsl(0 3.9216% 60% / 0.18),
      2px 8px 10px 3px hsl(0 3.9216% 60% / 0.18);
   --shadow-2xl: 2px 2px 10px 4px hsl(0 3.9216% 60% / 0.45);
   --tracking-normal: 0em;

   --titlebar-height: 2rem;
}

.dark {
   --background: oklch(0.2277 0.0106 163.8637);
   --foreground: oklch(0.9256 0.0172 349.5095);
   --card: oklch(0.2848 0.0122 160.5114);
   --card-foreground: oklch(0.9256 0.0172 349.5095);
   --popover: oklch(0.2848 0.0122 160.5114);
   --popover-foreground: oklch(0.9256 0.0172 349.5095);
   --primary: oklch(0.7393 0.1453 15.4758);
   --primary-foreground: oklch(0.2277 0.0106 163.8637);
   --secondary: oklch(0.3404 0.0117 160.73);
   --secondary-foreground: oklch(0.8699 0.0123 351.0194);
   --muted: oklch(0.2848 0.0122 160.5114);
   --muted-foreground: oklch(0.7114 0.0243 353.4291);
   --accent: oklch(0.3939 0.0113 160.8743);
   --accent-foreground: oklch(0.8699 0.0123 351.0194);
   --destructive: oklch(0.8348 0.2502 142.9227);
   --border: oklch(0.3404 0.0117 160.73);
   --input: oklch(0.3404 0.0117 160.73);
   --ring: oklch(0.7393 0.1453 15.4758);
   --chart-1: oklch(0.7393 0.1453 15.4758);
   --chart-2: oklch(0.6799 0.1754 21.7423);
   --chart-3: oklch(0.6321 0.1875 27.228);
   --chart-4: oklch(0.5727 0.173 28.3675);
   --chart-5: oklch(0.4922 0.1441 27.3557);
   --sidebar: oklch(0.3404 0.0117 160.73);
   --sidebar-foreground: oklch(0.9256 0.0172 349.5095);
   --sidebar-primary: oklch(0.7393 0.1453 15.4758);
   --sidebar-primary-foreground: oklch(0.2277 0.0106 163.8637);
   --sidebar-accent: oklch(0.3939 0.0113 160.8743);
   --sidebar-accent-foreground: oklch(0.8699 0.0123 351.0194);
   --sidebar-border: oklch(0.3404 0.0117 160.73);
   --sidebar-ring: oklch(0.7393 0.1453 15.4758);
   --sidebar-scrollbar: oklch(0.9256 0.0172 349.5095 / 0.3);
   --destructive-foreground: oklch(0.2277 0.0106 163.8637);
   --radius: 1.25rem;
   --font-sans: Plus Jakarta Sans, sans-serif;
   --font-serif: Lora, serif;
   --font-mono: Roboto Mono, monospace;
   --shadow-color: #1a1a1a;
   --shadow-opacity: 0.18;
   --shadow-blur: 10px;
   --shadow-spread: 4px;
   --shadow-offset-x: 2px;
   --shadow-offset-y: 2px;
   --letter-spacing: 0em;
   --spacing: 0.25rem;
   --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.09);
   --shadow-xs: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.09);
   --shadow-sm:
      2px 2px 10px 4px hsl(0 0% 10.1961% / 0.18),
      2px 1px 2px 3px hsl(0 0% 10.1961% / 0.18);
   --shadow:
      2px 2px 10px 4px hsl(0 0% 10.1961% / 0.18),
      2px 1px 2px 3px hsl(0 0% 10.1961% / 0.18);
   --shadow-md:
      2px 2px 10px 4px hsl(0 0% 10.1961% / 0.18),
      2px 2px 4px 3px hsl(0 0% 10.1961% / 0.18);
   --shadow-lg:
      2px 2px 10px 4px hsl(0 0% 10.1961% / 0.18),
      2px 4px 6px 3px hsl(0 0% 10.1961% / 0.18);
   --shadow-xl:
      2px 2px 10px 4px hsl(0 0% 10.1961% / 0.18),
      2px 8px 10px 3px hsl(0 0% 10.1961% / 0.18);
   --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.45);
}

@layer base {
   * {
      @apply border-border outline-ring/50;
   }
   body {
      @apply bg-background text-foreground;
      letter-spacing: var(--tracking-normal);
   }
}

.sidebar {
   --sb-track-color: var(--sidebar);
   --sb-thumb-color: var(--sidebar-scrollbar);
   --sb-size: 14px;
}
body {
   --sb-track-color: var(--background);
   --sb-thumb-color: var(--sidebar-scrollbar);
   --sb-size: 14px;
}

*::-webkit-scrollbar {
   width: var(--sb-size);
}

*::-webkit-scrollbar-track {
   background: var(--sb-track-color);
   border-radius: 35px;
}

*::-webkit-scrollbar-thumb {
   background: var(--sb-thumb-color);
   border-radius: 35px;
   border: 4px solid var(--sb-track-color);
}

@supports not selector(::-webkit-scrollbar) {
   * {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
   }
}
